
  <div>
    <h3>
  Quotes <%= link "+", to: "/quotes/new", class: "btn btn-success" %>
</h3>
    <ul class="list-group">
      <%= for quote <- @quotes do %>
      <li class="list-group-item">
        <%= link quote.author, to: quote_path(@conn, :show, quote.id) %>: "<%= quote.body %>"
      </li>
      <% end %>
    </ul>
  </div>
